<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="utf-8">
		<link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" media="screen">
	</head>
	<body style="text-align: center;text-decoration: none;">
		<h1 style="color:red;">Links</h1>
		
		<h2 style="color:red;">Deck</h2>
		<a href="http://localhost:8080/Deck/">Debug(Deck Container)</a>
		<a href="http://localhost:8080/Deck/Cadastrar">Cadastrar</a>
		<a href="http://localhost:8080/Deck/Listar">Listar</a>
		<a href="http://localhost:8080/Deck/SelecionarDeck">Selecionar</a>
		
		<h2 style="color:red;">Login</h2>
		<a href="Login/Entrar">Entrar</a>
		<a href="Login/Cadastrar">Cadastrar</a>
		
		<h2 style="color:red;">Tipo</h2>
		<a href="http://localhost:8080/Tipo/Cadastrar">Cadastrar</a>
		<a href="http://localhost:8080/Tipo/Listar">Listar</a>
		
		<h2 style="color:red;">Usuario</h2>
		<a href="http://localhost:8080/Usuario/Cadastrar">Cadastrar</a>
		<a href="http://localhost:8080/Usuario/Listar">Listar</a>
		<a href="http://localhost:8080/Usuario/Listar">MeusDecks</a>
		
	</body>
</html>