<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	</head>
	
	<body>
		<h2>Bemvindo <span th:text="${session.username}"></span></h2>
		<h2><span th:text="${session.email}"></span></h2>
		
		<form name="formDeck"  enctype="multipart/form-data" method = "post">
			Nome:<input type="text" name="nome"/>
			Descricao:<input type="text" name="descricao"/>
			Imagem:<input type="file" name="file"/>
			<input type="submit" value="Salvar"/>
		</form>
	</body>
</html>
