<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<link href="css/materialize/materialize.min.css" rel="stylesheet">
	</head>
	
	<body>
		<table>
			<thead>
				<th>Nome</th>
				<th>Descicao</th>
				<th>Imagem</th>
			</thead>
			
			<tbody>
				<tr th:each="deck : ${decks}">
					<td><a><span th:text="${deck.nome}"></span></a></td>
					<td><a><span th:text="${deck.descricao}"></span></a></td>
					<td><a><img th:src="@{${deck.imagem}}"></a></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>