<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	</head>
	
	<body>
		<h1>Formulario de Usuario</h1>
		
		<form name="formCarta" enctype="multipart/form-data" method = "post">
			Nome:<input type="text" name="nome"/><br>
			Descricao:<input type="text" name="descricao"/><br>
			Imagem:<input type="file" name="file"/><br>
			Raridade:<input type="text" name="raridade"/><br>
			Tipo:<input type="text" name="tipo"/><br>
			<input type="submit" value="Salvar"/><br>
		</form>
	</body>
</html>