<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	</head>
	
	<body>
		<table>
			<thead>
				<th>Nome</th>
				<th>Descicao</th>
				<th>Imagem</th>
			</thead>
			
			<tbody>
				<tr th:each="tipo : ${tipos}">
					<td><a><span th:text="${tipo.nome}"></span></a></td>
					<td><a><span th:text="${tipo.descricao}"></span></a></td>
					<td><a><img th:src="@{${tipo.imagem}}"></a></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>